@import url("./modernNormalize.css");

body {
  min-width: 50%;
  max-width: 1000px;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  margin: 1em auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

main {
  height: 80vh;
  max-width: 100%;
}

h5 {
  text-align: left;
}

.delimitadorSuperior {
  height: 3px;
  background-color: yellow;
}

section {
  margin-bottom: 1em;
}

.col{
  margin-bottom: 1em;
}

.contenedorHome {
  padding: 1em;
  text-align: left;
  width: 80%;
  height: 50vh;
  margin: 0 auto;
  background-color: rgb(26, 62, 223);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contenedorOpciones{
  margin: 0 auto;
  margin-top: 3em;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.opcion {
  padding: 1em 0;
  margin: 1%;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 10%;
  text-decoration: none;
  font-size: 1.3em;
  color: #fff;
}

.opcion:hover {
  background-color: rgb(26, 55, 188);
  scale: 1.2;
}

/* Crear Proceso */

.contenedorInformacion {
  text-align: left;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "objeto       objeto        actividad     actividad"
    "descripcion  descripcion   actividad     actividad"
    "moneda       presupuesto   actividad     actividad";
}

.contenedorInformacion .objeto {
  grid-area: objeto;
}

.contenedorInformacion .actividad {
  grid-area: actividad;
}

.contenedorInformacion .descripcion {
  grid-area: descripcion;
}

.contenedorInformacion .moneda {
  grid-area: moneda;
}

.contenedorInformacion .presupuesto {
  grid-area: presupuesto;
}

form {
  text-align: left;
}

/*
.contenedorCronograma {
  text-align: left;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "fechaInicio horaInicio fechaCierre horaCierre";
}
*/

/* Consultar Procesos */

.titulo {
  text-align: left;
}

.contendorBotones {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
